 body {
      margin: 0;
      padding: 0;
      text-align: center;
      background-image: url('2.png');
    }
     
    canvas {
      display: inline-block;
      border: 1px dotted #000;
      vertical-align: center;
    }
    
    #help{
      padding: 13px;
      text-align: center;
      background-color: rgba(201, 58, 137, 0.3);
    	position: absolute;
    	top: 7%;
    	left: 77%;
      width: 20%;
      height: 83%;
      box-shadow: 0 0 4px 4px white inset;
    }

    textarea {
    resize: none; /* Запрещаем изменять размер */
   }

    h1{
      color: #c6418b;
    }

    h4{
      color: #1C1A1B;
    }

    p{
      color: #544D51;
    }
    #oshibka{
      visibility: hidden;
    }

    #ruler{
      position: relative;
      left: 30%;
      text-align: center;
      width: 600px;
      color: #544D51;

          }

.button{text-decoration:none; text-align:center; 
 padding:12px 14px; 
 border:none; 
  
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#c6418a; 
 -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;  
  
   -webkit-transition: outline 0.42s ease-in;
 -moz-transition:  outline 0.42s ease-in;
 -o-transition:  outline 0.42s ease-in;
 transition:  outline 0.42s ease-in;}.button:hover{
 padding:12px 14px; 
 border:none; 
  
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#c6418a; 
 -webkit-box-shadow:0px 0px 19px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 19px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 19px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button:active{
 padding:12px 14px; 
 border:none; 
  
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#c6418a; 
 -webkit-box-shadow:0px 0px 20px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 20px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 20px #bababa, inset 0px 0px 1px #ffffff;  
  
 }